.noti-box {
  width: 150px;
  height: 80px;
  border-radius: 1rem;
  border: 3px solid #f4f6f8;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.noti-box__indicator {
  background-color: #f4f6f8;
  width: 60px;
  height: 30px;
  position: absolute;
  transition: background-color 0.3s ease;
}

.noti-box.selected {
  border-color: #5c6ac4;
}

.noti-box.selected .noti-box__indicator {
  background-color: #5c6ac4;
}

.noti-box__indicator--top-left {
  top: 5px;
  left: 5px;
}

.noti-box__indicator--top-right {
  top: 5px;
  right: 5px;
}

.noti-box__indicator--bottom-left {
  bottom: 5px;
  left: 5px;
}

.noti-box__indicator--bottom-right {
  bottom: 5px;
  right: 5px;
}

.noti-box-mobile {
  width: 80px;
  height: 100px;
  border-radius: 1rem;
  border: 3px solid #f4f6f8;
  position: relative;
  cursor: pointer;
  padding: 5%;
  transition: border-color 0.3s ease;
}

.noti-box-mobile__indicator {
  background-color: #f4f6f8;
  width: 90%;
  height: 20px;
  border-radius: 1rem;
  position: absolute;
  transition: background-color 0.3s ease;
}

.noti-box-mobile.selected {
  border-color: #5c6ac4;
}

.noti-box-mobile.selected .noti-box-mobile__indicator {
  background-color: #5c6ac4;
}

.noti-box-mobile__indicator--top {
  top: 5px;
}

.noti-box-mobile__indicator--bottom {
  bottom: 5px;
}
